.col1{
    width: 50%;
  }
  
  @media (min-width: 600px) {
    .column {
      width: 50%;
    }
  }

.col1{
    position: relative;
    left: -8px;
    margin: 0px;
    background-color: #7434ff;
    width: 2000px;
    height: 130px;
    border: 2px solid black;
}

.col2{
    margin: 0px;
    background-color: #7434ff;
    position: relative;
    left: -8px;
    width: 180px;
    height: 950px;
    border: 2px solid black
}

.col3{
    position: relative;
    left: 171px;
    background-color: rgb(255, 255, 255);
    width: 1821px;
    height: 950px;
    margin: 0px;
    margin-top: -956px;
    border: 2px solid black
}

.friendLink{
    position: relative;
    text-decoration: solid;
    margin: 12px;
    font-size: 13px;
    margin-bottom: -100px;
}
