body{
    width: 440px;
    height: 844px;
}

.col1{
  background-color: blueviolet;
  width: 440px;
  height: 100px;
}

.col2{
  background-color: blueviolet;
  width: 110px;
  height: 844px;
  font-weight: bold;
  text-decoration: solid;
  position: relative;
}

.fotoGp{
  position: relative;
  left: 20px;
  background-image: url(/imagens/WhatsApp\ Image\ 2023-08-30\ at\ 16.01.02.jpeg);
  width: 100px;
  height: 20px;
  margin-top: 10px;
}

.titulo{
  font-size: 30px;
  font-weight: bolder;
  text-decoration: solid;
  color: white;
  position: relative;
  margin-top: 1px;
}

.biribeBox{
  width: 80px;
  height: 30px;
  background-color: white;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}

.euBox{
  width: 80px;
  height: 30px;
  background-color: azure;
  text-align: center;
  margin-bottom: 40px;
}

.kokimasBox{
  width: 80px;
  height: 30px;
  background-color: azure;
  text-align: center;
  margin-bottom: 40px;
}

.xandBox{
  width: 80px;
  height: 30px;
  background-color: azure;
  text-align: center;
  margin-bottom: 10px;
}


