body{
    width: 390px;
    height: 844px;
}

.col1{
  background-color: blueviolet;
  width: 410px;
  height: 100px;
}

.col2{
  background-color: blueviolet;
  width: 110px;
  height: 844px;
  font-weight: bold;
  text-decoration: solid;
}


